.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features .subtitle {
  margin-bottom: 8px;
}

.features-thumb {
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;

  padding: 24px 100px;
  margin-bottom: 8px;
}
