.social {
  display: flex;
}

.footer-social {
  column-gap: 16px;
}

.team-social {
  column-gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  border-radius: 20px;
}

.team-social-link {
  border-radius: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

/* .social {
  display: flex;
  column-gap: 16px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--green);
} */
