:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --hero-btn-hover-color: #188ce8;
  --button-color: #f5f4fa;
  --our-team-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --icons-color: #afb1b8;
  --icons-transparent-color: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;

  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.header-logo {
  margin-right: 93px;

  color: var(--primary-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--main-color);
}

/* Header */

.header {
  border-bottom: 1px solid var(--border-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-icon.mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon.tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);
}

.logo .accent,
.site-nav-link.current,
.site-nav-link:hover,
.site-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-link.address:hover,
.footer-link.address:focus {
  color: var(--accent-color);
}

/* List */

.list {
  list-style: none;
}

/* Hero */

.hero {
  height: 600px;
  padding: 200px 0;

  text-align: center;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Benefits */

.section.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-item {
  width: calc((100% - 90px) / 4);
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-wrap-icon {
  display: block;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 0;

  background-color: var(--button-color);
  border-radius: 4px;
}

.benefits-icon {
  display: block;
  margin: 0 auto;
}

.benefits-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
}

/* We do  */

.we-do-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.we-do-img {
  display: block;
  width: 100%;
  height: auto;
}

/* Our team */

.our-team {
  background-color: var(--our-team-bg-color);
}

.our-team-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.our-team-item {
  width: 270px;

  text-align: center;

  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-img {
  display: block;
  width: 100%;
  height: auto;
}

.our-team-wrap {
  padding: 30px 32px;
}

.our-team-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.our-team-text {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
}

.our-team-social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.our-team-social-link {
  display: block;
  padding: 12px;
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.our-team-icon {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
}

.our-team-social-link:hover .our-team-icon,
.our-team-social-link:focus .our-team-icon {
  fill: var(--main-color);
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.clients-item {
  width: 170px;
}

.client-link {
  display: block;
  padding: 16px 32px;
  color: var(--icons-color);

  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);

  border: 1px solid var(--accent-color);
}

.client-icon {
  display: block;
  margin: 0 auto;
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer-container {
  display: flex;
}

.footer-subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-box {
  margin-left: 70px;
}

.footer-social-items {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: block;
  padding: 12px;

  background-color: var(--icons-transparent-color);
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  display: block;
  fill: var(--main-color);
}

.footer-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: var(--transparent-color);
  font-style: normal;
  text-decoration: none;
}

.footer-link.address {
  color: var(--main-color);
}

/* Portfolio */

.portfolio-link {
  display: block;
  text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-buttons-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-wrap {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 20px 24px;
}

.portfolio-subtitle {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--primary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}
/* Buttons */

.hero-button {
  padding: 10px 32px;

  font-family: inherit;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-hover-color);
}

.button {
  padding: 6px 22px;

  font-family: inherit;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
}

.button.current,
.button:hover,
.button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
